URLSQLFOOD_ORDRING_AUTH_SERVICE=Data Source=sql-server;Initial Catalog=food_auth;User ID=sa;Password=replace-me;Trust Server Certificate=True
ClientID=replace-me
Clientsecret=replace-me
JWT__ISSUER=authen-services
JWT__AUDIENCE=food-ordering-microservices
JWT__KEY__ACCESSTOKEN=replace-me
JWT__KEY__REFRESHTOKEN=replace-me
REDIS__HOST=redis:6379
REDIS__PASSWORD=replace-me
RABBITMQ_SIDE_AUTH__HOST=rabbitmq
RABBITMQ_SIDE_AUTH__PORT=5672
RABBITMQ_SIDE_AUTH__USERNAME=guest
RABBITMQ_SIDE_AUTH__PASSWORD=replace-me
