URL_SQL_USER_SERVICE=Data Source=sql-server;Initial Catalog=food_users;Persist Security Info=True;User ID=sa;Password=YOURPASS;Trust Server Certificate=True
JWT_ISSUER=authen-services
JWT_AUDIENCE=food-ordering-microservices
JWT_KEY_ACCESSTOKEN=
JWT_KEY_REFRESHTOKEN=
RABBITMQ_SIDE_USERSERVICE__HOST=rabbitmq
RABBITMQ_SIDE_USERSERVICE__USERNAME=
RABBITMQ_SIDE_USERSERVICE__PASSWORD=