URLSQLFOOD_ORDRING_AUTH_SERVICE=Data Source=localhost;Initial Catalog=food_auth;Persist Security Info=True;User ID=sa;Password=	YOURPASSWORD;Trust Server Certificate=True
ClientID=
Clientsecret=
gRPC_UserService_URL=https://localhost:7199
JWT_ISSUER=authen-services
JWT_AUDIENCE=food-ordering-microservices
JWT_KEY_ACCESSTOKEN=
JWT_KEY_REFRESHTOKEN=
REDIS_HOST=redis:6379
REDIS_PASSWORD=
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
