SQLFOOD_PRODUCTS=Host=localhost;Port=5432;Database=food_products;Username=postgres;Password= YOURPASS
RedisAddress=redis
MinIOEndpoint=minio
MinIOAccessKey=
MinIOSecretKey=
MinIOBucket=images
MinIOUseSSL=false
PublicEndpoint=127.0.0.1:9000
gRPCPort_OrderServices=https://localhost:7264
RabbitMQHost=rabbitmq
RabbitMQPort=5672
RabbitMQUsername=
RabbitMQPassword=
JWT_ISSUER=authen-services
JWT_AUDIENCE=food-ordering-microservices
JWT_KEY_ACCESSTOKEN=
JWT_KEY_REFRESHTOKEN=


REDIS_HOST=redis