# Chặn các file môi trường (Quan trọng nhất)
.env
.env.*
!.env.example

# Chặn các file log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Chặn thư mục chứa thư viện (Để Docker tự install bên trong image)
node_modules/
bower_components/

# Chặn các file git và metadata
.git
.gitignore
.gitattributes
.hg
.svn

# Chặn các folder build từ máy local
dist/
build/
bin/
obj/
out/

# Chặn các file hệ thống và IDE
.DS_Store
.vscode/
.idea/
*.swp
*.bak