URL_SQL_USER_SERVICE=Data Source=sql-server;Initial Catalog=food_users;User ID=sa;Password=replace-me;Trust Server Certificate=True
JWT__ISSUER=authen-services
JWT__AUDIENCE=food-ordering-microservices
JWT__KEY=replace-me
RABBITMQ_SIDE_USERSERVICE__HOST=rabbitmq
RABBITMQ_SIDE_USERSERVICE__USERNAME=guest
RABBITMQ_SIDE_USERSERVICE__PASSWORD=replace-me
