URLORDER=Data Source=sql-server;Initial Catalog=food_order;Persist Security Info=True;User ID=sa;Password=YOURPASS;Trust Server Certificate=True
gRPC_PORT_CartService=http://cart-service:5005
gRPC_PORT_PaymentService=http://payment-service:5006
gRPC_PORT_UserService=http://user-service:5001
gRPC_PORT_FoodService=http://food-service:5002
URL_FE= http://localhost:5173
JWT_ISSUER=authen-services
JWT_AUDIENCE=food-ordering-microservices
JWT_KEY_ACCESSTOKEN=
JWT_KEY_REFRESHTOKEN=
Redis=redis:6379
RabbitMQ_HostName=rabbitmq
RabbitMQ_UserName=
RabbitMQ_Password=