URLCARTSQL=Host=localhost;Port=5432;Database=food_cart2;Username=postgres;Password=YOURPASS
gRPC_FoodService_URL=https://localhost:7081
JWT_ISSUER=authen-services
JWT_AUDIENCE=food-ordering-microservices
JWT_KEY_ACCESSTOKEN=
JWT_KEY_REFRESHTOKEN=
RabbitMQ_HostName=rabbitmq
RabbitMQ_UserName=
RabbitMQ_Password=