SQL=Data Source=sql-server;Initial Catalog=food_payment;Persist Security Info=True;User ID=sa;Password=YOURPASS;Trust Server Certificate=True
ClientIDPayOS=
ApiKeytPayOS=
ChecksumKeyPOS=
gRPCPort_OrderService=http://order-service:5007
PortFrontEnd=http://localhost:5173
JWT_ISSUER=authen-services
JWT_AUDIENCE=food-ordering-microservices
JWT_KEY_ACCESSTOKEN=
JWT_KEY_REFRESHTOKEN=
RabbitMQHost=rabbitmq
RabbitMQUsername=
RabbitMQPassword=